@import 'styles/list-deep.less';
/*@import 'styles/picbutton.less';*/
@import 'styles/nicebox.less';
@import 'styles/borders.less';

/*********************************************************************** 
    Button for navigation
************************************************************************/
.wrap_picbutton {
	width:140px;
    min-height: 185px;
    margin-left: 2em;
    background:#F6F6F6;
    padding:0.5em;
    text-align:center;
    cursor:pointer;
    
	box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 6px 8px rgba(0,0,0,0.11),
              0 8px 16px rgba(0,0,0,0.11);

	transition:100ms;
	display:inline-block;
	
}

.wrap_picbutton:hover {
	transition: 200ms;
	transform: rotate(2deg);
}

.wrap_picbutton img {
	width:60%;
	margin:15% 20% !important;
}


.wrap_picbutton a {
	font-size:16px !important;
}

.wrap_picbutton p {
	margin: 0;
	width:100%;
	display:inline-block;
	text-align:center;
}
/*---------------------------------------------------------------------*/
